<div class="body">
  <div class="form-head text">
    <a class="text" style="font-size: x-large; color: white">Add new certificate</a>
  </div>
  <form class="input-form">
    <div class="column-wrapper">
      <div class="input-wrapper">
        <span class="text">Certificate name</span>
        <input type="text" class="input" name="name" [(ngModel)]="certificate.name"/>
      </div>
      <div class="input-wrapper">
        <span class="text">Price</span>
        <input type="text" class="input" name = "price" [(ngModel)]="certificate.price"/>
      </div>
      <div class="input-wrapper"><span class="text">Tags</span>
        <mat-form-field class="mat-form">
          <mat-chip-list #chipList aria-label="Tags selection">
            <mat-chip
              *ngFor="let tag of tags"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(tag)">
              {{tag.name}}
              <mat-icon matChipRemove *ngIf="removable" >X</mat-icon>
            </mat-chip>
            <input
              placeholder="Add tag..."
              #tagInput
              [formControl]="tagCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.name" (click)="selected(tag)">
              {{tag.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="column-wrapper">
      <div class="input-wrapper">
        <span class="text">Valid days</span>
        <input type="number" class="input" name="validDays" [(ngModel)]="certificate.validDays">
      </div>
      <div class="input-wrapper">
        <span class="text">Description</span>
        <label>
          <input type="text" class="input" style="height: 130px;" name="description" [(ngModel)]="certificate.description">
        </label>
      </div>
    </div>
    <div style="transform: translate(-382px, 273px);">
      <button type="submit" class="button text" style="background-color: #fcfcfc; border: 2px solid gray;">Back</button>
      <button type="submit" class="button text" style="background-color: #6fd098; color: #e6ebf1; border-color: transparent;" (click)="createCertificate()">Save</button>
    </div>
  </form>
</div>
