<div class="body">
<div class="register-form">
  <div class="register-head-block">
    <a class="text" style="color: #e6ebf1; font-size: x-large;">Register</a>
  </div>
  <form [formGroup]="registerForm" class="input-form">
    <div>
      <div class="input-wrapper">
        <a class="text" >First name</a>
        <input type="text" name="name" class="input" formControlName="name">
        <div *ngIf="_name.invalid && (_name.touched || _name.dirty)">
          <span class="error-message" *ngIf="_name.errors?.required">Field is required</span>
        </div>
      </div>
      <div class="input-wrapper">
        <a class="text">Last name</a>
        <input type="text" name="surname" class="input" formControlName="surname">
        <div *ngIf="_surname.invalid && (_surname.touched || _surname.dirty)">
          <span class="error-message" *ngIf="_surname.errors?.required">Field is required</span>
        </div>
      </div>
    </div>
    <div>
      <div class="input-wrapper">
        <a class="text">Password</a>
        <input type="text" name="password" class="input" formControlName="password">
        <div *ngIf="_password.invalid && (_password.touched || _password.dirty)">
          <span class="error-message" *ngIf="_password.errors?.required">Field is required</span>
          <span class="error-message" *ngIf="_password.value !== _repeatPassword.value">Password fields should match</span>
        </div>
      </div>
      <div class="input-wrapper">
        <a class="text">Repeat password</a>
        <input type="text" class="input" formControlName="repeatPassword">
        <div *ngIf="_repeatPassword.invalid && (_repeatPassword.touched || _repeatPassword.dirty)">
          <span class="error-message" *ngIf="_repeatPassword.errors?.required">Field is required </span>
          <span class="error-message" *ngIf="_password.value !== _repeatPassword.value">Password fields should match</span>
        </div>
      </div>
    </div>
    <div>
      <div class="input-wrapper">
        <a class="text">Email</a>
        <input type="text" class="input" name="email" formControlName="email">
        <div *ngIf="_email.invalid && (_email.touched || _email.dirty)">
          <span class="error-message" *ngIf="_email.errors?.required">Field is required</span>
        </div>
      </div>
    </div>
    <div class="button-block-wrapper">
      <button type="submit" class="button text" style="background-color: #fcfcfc; border: 2px solid gray;">Cancel</button>
      <input type="button" class="button text" style="background-color: #6fd098; color: #e6ebf1; border-color: transparent;" (click)="register()" value="Sign up"/>
    </div>
  </form>
</div>
</div>


