.square-small{
  background-color: gray;
  display: flex;
  height: 35px;
  width: 100px;
}
.checkout-form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: column;
}
.items-wrapper{
  display: inline-block;
  flex-wrap: wrap;
  width: 800px;
  height: 350px;
  background-color: #fcfcfc;
}
