<meta name="viewport" content="width=device-width, initial-scale=1">
<header>
  <div class="header">
    <div class="dropdown dropbtn">
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="dropdown-content">
      <a *ngIf="!isAuthentificated()" href="/register">Registration</a>
      <a *ngIf="!isAuthentificated()" href="/login">Login</a>
      <a href="/certificates" >Certificates</a>
      <a *ngIf="role=='ROLE_ADMIN'" href="/certificates/create">Create certificate</a>
      <a href="/cart">Cart</a>
      <a *ngIf="role=='ROLE_USER'" href="/orders">Orders</a>
      <a *ngIf="role=='ROLE_ADMIN'" href="/users">Users</a>
    </div>
    </div>
    <div class="search" *ngIf="isCertificatesRoute()">
      <input style="width: 400px" type="search" class="search-input text" placeholder="Search by item name"/>
      <select class="text search-select">
        <option selected class="text" value="">All categories</option>
        <option class="text" *ngFor="let tag of tags" name="tagName" (select)="tag">{{tag?.name}}</option>
      </select>
    </div>
    <div class="right-side">
      <div>
      <a href="/cart">
        <img src="./assets/shopping_cart-24px.svg" style="margin-right: 10px;">
      </a>
      </div>
      <div *ngIf="!isAuthentificated()">
      <a href="/login" class="text href" style="margin-right: 10px">Login</a>
      <span class="vl"></span>
      <a href="/register" class="text href">Sign up</a>
      </div>
      <div *ngIf="isAuthentificated()" style="cursor: pointer;" (click)="logOut()">
        Log out
      </div>
    </div>
  </div>
</header>

