<div class="body">
  <div class="checkout-form-wrapper">
    <div class="items-wrapper">
      <div>
        <div>
          <div class="square-small"></div>
        </div>
        <div>
          <span>Certificate name</span>
          <span>Certificate description</span>
        </div>
        <div>
          <span>235$</span>
        </div>
      </div>
      <div>
        <div class="line"></div>
      </div>
      <div>
        <span>Total</span>
        <span>705$</span>
      </div>
      <div>
        <div>
          <div class="square-small"></div>
        </div>
        <div>
          <span>Certificate name</span>
          <span>Certificate description</span>
        </div>
        <div>
          <span>235$</span>
        </div>
      </div>
      <div>
        <div>
          <div class="square-small"></div>
        </div>
        <div>
          <span>Certificate name</span>
          <span>Certificate description</span>
        </div>
        <div>
          <span>235$</span>
        </div>
      </div>
      <div>
        <div class="line"></div>
      </div>
      <div>
        <span>Total</span>
        <span>705$</span>
      </div>
      <div class="button-block-wrapper">
        <button type="submit" class="button text" style="background-color: #fcfcfc; border: 2px solid gray;">Cancel</button>
        <button type="submit" class="button text" style="background-color: #6fd098; color: #e6ebf1; border-color: transparent;">Sign up</button>
      </div>
    </div>
  </div>
</div>
