.certificates-form{
  background-color: #fcfcfc;
  display: flex;
  width: 50%;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}
.upper-form{
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  margin-bottom: 16px;
}
.button-buy{
  background-color: #6fd098;
  border-color: transparent;
  margin-top: 1px;
  color: #ffffff;
}
