.certificates-form{
  background-color: #c5c5c5;
  display: flex;
  width: 65%;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}
.upper-form{
  background-color: #c5c5c5;
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  margin-bottom: 16px;
}
.medium-form{

}
