.form{
  display: flex;
  width: 80%;
}
.order-info-block{
  display: flex;
  flex-direction: column;
}
.text-order {
  text-align: center;
  font-family: cursive;
  font-size: xx-large;
  padding-top: 20px;
}
