<div class="body">
  <div style="    display: flex;
    justify-content: center;
    align-items: center;">
    <div class="text upper-form" style="height: 75px;
    font-size: x-large;">
      <span style="padding: 10px;">Order amount: {{order.amount | currency: 'USD'}}</span>
      <span style="padding: 13px;">Order date: {{order.date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
  </div>
  <div class="text medium-form" style="font-size: x-large;">
    <span>Certificates</span>
  </div>
  <div *ngFor="let cert of certificates">
  <div style="    display: flex;
    justify-content: center;
    align-items: center;" >
    <div class="text certificates-form">
      <div>
        <img style="width: 75px;" src="assets/eco-24px.svg">
      </div>
      <div>
        <span>Certificate name: {{cert.name}}</span>
      </div>
      <div>
        <span>Certificate description: {{cert.description}}</span>
      </div>
      <div>
        <button class="button-buy text" (click)="addToCart(cert); openDialog()">Buy again</button>
      </div>
    </div>
  </div>
  </div>
</div>
