 <div class="login">
  <form class="form">
    <div class="round-wrapper">
      <div class="round">
        <h1 class="h1" style="font-family: cursive;
    color: white;
    margin: 22px;
    font-size: xxx-large;
    padding-top: 26px;">Logo</h1>
      </div>
    </div>
    <input class="input text" type="text" name="email" [(ngModel)]="user.email" placeholder="Login">
    <input class="input text" name="password" type="text" [(ngModel)]="user.password" placeholder="Password">
    <button class="button text" type="submit" (click)="Login()">Login</button>
  </form>
</div>
