<div class="body" >
  <div class="main-wrapper">
    <div class="block-left">
      <div class="square"></div>
    </div>
    <div class="block-right">
      <span class="text" style="font-size:xx-large">Certificate name</span>
      <span class="text" style="font-size: large; padding-top: 14px;">Description Description Description Description Description Description Description Description</span>
      <div class="time">
      <span class="text" style="font-size: large">Time left to buy</span>
      <span class="text" style="font-size: large; color: #6fd098">12 days 2 hours</span>
      </div>
      <div class="block-right-bottom">
        <div style="display: flex">
        <span class="text" style="padding-right: 36px; font-size: large">Price</span>
        <span style="font-size: large">235$</span>
        </div>
        <div style="display: flex">
          <button class="button text" (click)="addCertificateToCart(cert.name, cert.id)">Add to cart</button>
        <img src="./assets/shopping_cart-24px.svg">
        </div>
      </div>
    </div>
  </div>
</div>
