<div class="body" >
  <div class="main-wrapper">
    <div class="block-left">
      <div class="square"></div>
      <span class="text" style="padding-top: 24px;">Item detailed description</span>
      <span class="text">Description Description Description Description Description Description Description Description</span>
    </div>
    <div class="block-right">
      <span class="text">Certificate name</span>
      <span class="text">Description Description Description Description Description Description Description Description</span>
      <span class="text">Time left to buy</span>
      <span class="text">12 days 2 hours</span>
      <div class="block-right-bottom">
        <span>235$</span>
        <a href="">Add to cart</a>
        <img src="../views/img/shopping_cart-24px.svg">
      </div>
    </div>
  </div>
</div>
