.block {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-all{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.form-head {
  height: 82px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #c5c5c5;
  justify-content: center;
}
.empty-message{
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
