<div class="body">
  <div class="form-head text">
    <a class="text" style="font-size: x-large; color: white">Add new category</a>
  </div>
  <div>
    <div class="input-wrapper">
      <a class="text">Category name</a>
      <input type="text" class="input">
    </div>
    <div style="padding-left: 16px;">
      <button type="submit" class="button text" style="background-color: #fcfcfc; border: 2px solid gray;">Back</button>
      <button type="submit" class="button text" style="background-color: #6fd098; color: #e6ebf1; border-color: transparent;">Save</button>
    </div>
  </div>
</div>
